@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

//own

.red-text {
    color: red;
}

.white-text {
    color: white;
}

.invisible {
    display: none;
}

.nav_bar {
    height: 75px;
}

.nav_button {
    height: 75px;
    width: 75px;
}

.nav_logo {
    position: fixed;
    left: 0%;
    top: 0%;
    height: 75px;
    width: 75px;
    background-image: url('75px_logo.png');
}
.nav_login {
    position: relative;
}

.nav_register {
    position: fixed;
    right: 0%;
    top: 0%;
}

input {
    background-color: rgb(211, 203, 128);
}

input:hover {
    opacity: 1;
}

input:focus {
    opacity: 1;
}

//predefined
$family-sans-serif: 'Nunito', sans-serif;

@import '../node_modules/bulma/bulma.sass';
