@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

//own


input {
    background-color: rgb(211, 203, 128);
}

.register {
    background-image: url(background.jpg)
}

.transparent {
    opacity: 0.75;
}

.green-text {
    color: green;
}

.bar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: #33434D;
}

.logo {
    top: 0px;
    left: 0px;
}

.unblur {
    animation-name: textblur;
    animation-duration: 3s;
}

.invisible {
    display: none;
}


@keyframes bg-blur {
    from {
        filter: blur(0px);
    } to {
        filter: blur(10px);
    }
}

@keyframes textblur {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

.formatting {
    margin-top: 15%;
    margin-right: 2%;
    margin-left: 1%;
}

input:hover {
    opacity: 1.0;
}

input:focus{
    opacity: 1.0;
}

.white-text {
    color: white;
}

.red-text {
    color: red;
}

//predefined
$family-sans-serif: "Nunito", sans-serif;

@import "../node_modules/bulma/bulma.sass"; 