@keyframes wee {
    0% {background-color:red;}
    14% {background-color:orange;}
    28% {background-color: yellow;}
    42% {background-color: green;}
    56% {background-color: lightblue;}
    70% {background-color: blue;}
    84% {background-color: indigo;}
    92% {background-color: violet;}
    100% {background-color: red;}
}

body { 
  animation-name: wee;
    animation-iteration-count: infinite;
    animation-duration: 10s;

}