.bar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 5000px;
    height: 100px;
    background: url(logo.png);
}


.lotext {

    color: white;
    height: 75px;
    width: 75px;
    background: url(logo.png);
}
