.navbar {
    display: flex;
    flex-direction: row;
    background-color: darkgreen;
}

.white {
    color: white;
}

.item {
    height: 100px;
    width: 100px;
    background: url(background.jpg);
}