@keyframes bg-blur {
    from {
        filter: blur(0px);
    }
    to {
        filter: blur(10px);
    }
}

.unblur {
    animation-name: textblur;
    animation-duration: 3s;
}

@keyframes textblur {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.formatting {
    margin-top: 15%;
    margin-right: 2%;
    margin-left: 1%;
}

.content {
    position: fixed;
    top: -5%;
    left: -5%;
    right: -5%;
    z-index: -1;
    display: block;
    /* Full height */
    width: 110%;
    height: 110%;
    filter: blur(10px);
    /* Center and scale the image nicely */
    background-image: url('../cssdesign/css/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: bg-blur;
    animation-duration: 3s;
}
